<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">

<h2>User info</h2>

<%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :Name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :Image %><br />

  </div>

  <div class="field">
    <%= f.label :Introduction %><br />
    <%= f.text_field :introduction, autofocus: true %>
  </div>


  <div class="actions">
    <%= f.submit "Update user", class: 'sign-btn-update' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

    </div>
  </div>
</div>
