<p id="notoce"></p>
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <img class="">
      <table class="table">
        <tbody>
          <tr>
            <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
          </tr>
          <tr>
            <th>name</th>
            <th><%= @user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= @user.introduction %></th>
          </tr>
        </tbody>
      </table>

      <div class="row">
        <%= link_to "", edit_user_path(@user), class:"btn btn-primary col-12 fas fa-user-cog"%>
      </div>
      <h2>New book</h2>
      <%= form_with model: @book, url: books_path, id: 'new_book', class: 'new_book', local: true do |f| %>
        <div class="field">
        <%= f.label :Title %><br />
        <%= f.text_field :title, autofocus: true %>
        </div>

        <div class="field">
        <%= f.label :Opinion %><br />
        <%= f.text_field :body, autofocus: true %>
        </div>

        <div class="actions">
        <%= f.submit "Create Book", class: 'btn book-btn' %>
        </div>
      <% end %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
      <table class="table">
        <% @users.each do |user| %>
        <div>
            <tr>
              <td><%= attachment_image_tag user, :profile_image %></td>
              <td><%= @user.name %></td>
              <td><%= link_to "show", user_path(user) %></td>
            </tr>
        </div>
        <% end %>
      </table>
    </div>
  </div>
</div>