<p id="notoce"></p>
<% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
<% end %>

<% if @user.errors.any? %>
  <%= @user.errors.count %>error
  <% @user.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>


<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <img class="">
      <table class="table">
        <tbody>
          <tr>
            <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
          </tr>
          <tr>
            <th>name</th>
            <th><%= @user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= @user.introduction %></th>
          </tr>
        </tbody>
      </table>

      <div class="row">
        <%= link_to "", edit_user_path(@user), class:"btn btn-primary col-12 fas fa-user-cog"%>
      </div>
      <h2>New book</h2>
      <%= render "/books/book", newbook: @book %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th><%= @book.title %></th>
            <th>Opinion</th>
            <th><%= @book.body %></th>
            <th colspan="3"></th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>