<p id="notoce"></p>
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <img class="">
      <table class="table">
        <tbody>
          <tr>
            <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
          </tr>
          <tr>
            <th>name</th>
            <th><%= @user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= @user.introduction %></th>
          </tr>
        </tbody>
      </table>

      <div class="row">
        <%= link_to "", edit_user_path(@user), class:"btn btn-primary col-12 fas fa-user-cog"%>
      </div>
      <h2>New book</h2>
      <%= form_with model: @newbook, url: books_path, id: 'new_book', class: 'new_book', local: true do |f| %>
        <div class="field">
        <%= f.label :Title %><br />
        <%= f.text_field :title, autofocus: true %>
        </div>

        <div class="field">
        <%= f.label :Opinion %><br />
        <%= f.text_field :opinion, autofocus: true %>
        </div>

        <div class="actions">
        <%= f.submit "Create Book", class: 'btn book-btn' %>
        </div>
      <% end %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <div>
            <tr>
              <td><%= attachment_image_tag @user, :profile_image %>
                  <%= @user.name %></td>
              <td><%= @book.title %></td>
              <td><%= @book.opinion %></td>
              <% if user_signed_in? && current_user.id == @book.user_id %>
              <td><%= link_to 'edit', edit_book_path(@book), method: :edit, class: 'btn btn-info btn-sm btn-block mb-3 edit' %></td>
              <td><%= link_to "destroy", book_path(@book), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
            　<% end %>
            </tr>
        </div>
      </table>
    </div>
  </div>
</div>